.item {
    height: 2.4em;
    line-height: 3em;
    vertical-align: middle;
    border: 3px solid transparent;
    border-radius: 3px;
    display: flex;
    font-size: 1.2rem;
}

.stage {
    border-right: 1px solid rgb(236, 240, 246);
}

.stage:last-child {
    border: none;
}

.selected {
    border: 3px solid rgb(236, 240, 246);
}

.hidden {
    display: none;
}

.itemDesc {
    height: 1.5em;
    margin-left: 0.33em;
    text-align: left;
    flex-grow: 1;
    line-height: 28px;
    margin: auto 0.33em;
    display: block;
    border: 1px dashed transparent;
    padding: 0;
}

input.itemDesc {
    border: 1px dashed #666 !important;
    background: none;
}

.item button {
    height: 1.5em;
    width: 1.5em;
    background: none;
    margin: auto 0.33em;
    padding: 0;
    line-height: 1.2em;
}

.item button:hover {
    border: 1px solid rgb(52, 58, 64);
}

.item .prev {
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: auto 0;
    line-height: 1em;
    stroke: #666;
}

.item .prev:hover {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/arrow-undo-outline.svg);
}

.circle {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/ellipse-outline.svg);
}

.time {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/time-outline.svg);
}

.check {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/checkmark-circle-outline.svg);
}

.indicator {
    display: inline-flex;
    border: none;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: auto 0;
    line-height: 1em;
}


/*
.indicator:hover {
    content: url(https://unpkg.com/ionicons@5.1.2/dist/svg/play-circle-outline.svg);
}*/

h1 {
    color: rgb(52, 58, 64);
    font-size: 2em;
}