a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    min-height: 60px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.accountIcon {
    width: 2em;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#logo {
    position: absolute;
    top: 0px;
    z-index: 100;
}